@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.input {
    label {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        display: block;
        @include font-normal;
        padding: 0 0 6px 0;
    }

    .inputRelative {
        position: relative;

        input {
            padding: 0 34px 0 16px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.12);
            background: rgba(255, 255, 255, 0.10);
            height: 48px;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            @include font-normal;
        }

        .eyeIcon {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            transition: opacity 0.2s ease;

            &:hover {
                opacity: 0.7;
            }

            &:focus {
                outline: none;
            }
        }

        ::placeholder {
            color: #9B9B9B;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            @include font-normal;
        }
    }

    .error {
        color: #ff4444;
        font-size: 12px;
        margin-top: 4px;
        display: block;
        @include font-normal;
    }
}