@use '../../../scss/breakpoints/breakpoints.scss' as *;

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeletonImage {
  background-color: #e5e7eb;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  width: 100%;
  height: 12rem;
  border-radius: 0.375rem;

  @include respond-to('sm') {
    height: 11.25rem;
  }
}

.skeletonDate {
  background-color: #e5e7eb;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 1rem;
  width: 6rem;
  border-radius: 0.375rem;
  margin-bottom: 0.5rem;

  @include respond-to('sm') {
    width: 5rem;
  }
}

.skeletonCategory {
  background-color: #e5e7eb;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 1.5rem;
  width: 5rem;
  border-radius: 0.375rem;

  @include respond-to('sm') {
    width: 4rem;
  }
}

.skeletonTitle {
  background-color: #e5e7eb;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 1.5rem;
  width: 100%;
  border-radius: 0.375rem;
  margin-top: 0.5rem;

  @include respond-to('sm') {
    height: 1.375rem;
  }
}

.skeletonTitleShort {
  background-color: #e5e7eb;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  height: 1.5rem;
  width: 75%;
  border-radius: 0.375rem;
  margin-top: 0.25rem;

  @include respond-to('sm') {
    height: 1.375rem;
    width: 85%;
  }
}