@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.analyseMarketsPrecision {
    padding: 120px 0;

    @include respond-to("sm") {
        padding: 80px 0;
    }

    :global(.container-lg) {
        @include respond-to("sm") {
            padding: 0;
        }
    }

    .title {
        max-width: 777px;
        padding: 0 0 40px 0;

        @include respond-to("sm") {
            padding: 0 16px 36px 16px;
        }

        h2 {
            color: #FFF;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include font-medium;
            margin: 0 0 20px 0;

            @include respond-to("sm") {
                @include heading24;
                margin: 0 auto 8px auto;
                max-width: 251px;
                text-align: center
            }
        }

        p {
            @include font-normal;
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;

            @include respond-to("sm") {
                max-width: 328px;
                margin: 0 auto;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                text-align: center;
                line-height: 120%;
            }
        }
    }

    .roundCenteralignment {
        display: flex;
        justify-content: center;

        @include respond-to("sm") {
            display: none;
        }
    }

    .mobileCenter {
        display: none;

        @include respond-to("sm") {
            display: flex;
            justify-content: center;
        }
    }

    .mobileShow {
        padding: 36px 16px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.04);
    }

    .roundBorder {
        border-radius: 350px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.04);
        padding: 20px 26px;
        display: flex;
        align-items: center;
        gap: 35px;

        @include respond-to("sm") {
            border-radius: 0px;
            justify-content: center;
            flex-direction: row-reverse;
            padding: 36px 16px;
            gap: 16px;
        }




    }

    .round {
        width: 250px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.10);
        position: relative;
        overflow: hidden;

        @include respond-to("md") {
            width: 200px;
            height: 200px;
        }

        @include respond-to("sm") {
            width: 156px;
            height: 156px;
        }

        &:hover {

            &::after,
            &::before {
                opacity: 1;
            }

            .blurEffect {
                opacity: 1;
            }
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 1px;
            border-radius: 50%;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            z-index: 1;
            opacity: 0;
            transition: 0.4s ease-in-out;
        }

        &::after {
            background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
        }

        &::before {
            background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
        }

        .blurEffect {
            background: #F95C2F;
            filter: blur(85px);
            width: 140px;
            height: 140px;
            opacity: 0;
            position: absolute;
            bottom: 0;
            transition: 0.4s ease-in-out;
            left: 0;
            z-index: -1;
        }

        .contentGrid {
            display: grid;
            grid-template-columns: 56px 1fr;
            gap: 8px;
            align-items: center;

            @include respond-to("sm") {
                display: grid;
                grid-template-columns: 1fr;
                gap: 14px;
            }

            img {
                display: block;

                @include respond-to("sm") {
                    max-width: 40px;
                    margin: 0 auto;
                }
            }

            p {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                @include font-normal;

                @include respond-to("md") {
                    font-size: 16px;
                }

                @include respond-to("sm") {
                    text-align: center;
                }
            }
        }
    }

    .twoMobile {
        display: none;

        @include respond-to("sm") {
            display: flex;
            gap: 16px;
            justify-content: center;
        }
    }

    .rightAlignmentText {
        margin-left: auto;
        max-width: 497px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 40px 0 0 0;

        @include respond-to("sm") {
            padding: 40px 30px 0 30px;
        }

        img {
            display: block;
            width: 4px;
            height: 64px;
            object-fit: cover;
        }

        p {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @include font-normal;

            @include respond-to("sm") {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                max-width: 315px;
                line-height: 120%;
            }
        }
    }
}