@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.rawAccountBanner {


    :global(.container-lg) {
        padding: 0;
    }

    .tabAlignment {
        display: flex;
        justify-content: center;
        padding: 0 0 50px 0;
        align-items: center;
        gap: 0px;

        @include respond-to("sm") {
            padding: 0 0 34px 0;
        }

        .line {
            width: 36px;
            height: 1px;
            background-color: #FFF;
            opacity: 0.1;

            @include respond-to("sm") {
                width: 12px;
            }
        }

        .buttonUi {
            position: relative;
            padding: 10px;
            display: flex;
            cursor: pointer;
            align-items: center;
            backdrop-filter: blur(100px);
            justify-content: center;
            border-radius: 99px;
            gap: 10px;
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include font-normal;
            overflow: hidden;
            min-width: 140px;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: #1A1A1A;
            transition: 0.3s ease-in-out;

            @include respond-to("sm") {
                font-size: 12px;
                line-height: 15px;
            }

            a {
                color: inherit;
                text-decoration: none;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;
                border-radius: 99px;
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                opacity: 0;
                pointer-events: none;
                z-index: 1;
                transition: 0.4s ease-in-out;
            }

            &::after {
                background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
            }

            &::before {
                background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
            }

            &:hover {
                box-shadow: 0 0 12px 0 rgba(60, 117, 254, 0.44);

                &::after {
                    background-position: 200% 0;
                    opacity: 1;
                }

                &::before {
                    background-position: -200% 0;
                    opacity: 1;
                }
            }
        }
    }

    .box {
        padding: 52px 70px 62px 70px;
        position: relative;

        @include respond-to("md") {
            padding: 60px 40px 60px 40px;
        }

        @include respond-to("sm") {
            padding: 30px 16px 46px 16px;
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            height: 124px;
            border-radius: 0 0 40px 40px;
            content: '';
            background: linear-gradient(0deg, #F9D72F 0%, rgba(152, 82, 36, 0.00) 100%);
            opacity: 0.1;
        }

        .image {
            @include respond-to("sm") {
                display: flex;
                padding: 0 0 54px 0;
                justify-content: center;
            }

            img {
                max-width: 313px;
                display: block;

                @include respond-to("sm") {
                    max-width: 260px;
                }
            }
        }

        .contentAlignment {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond-to("sm") {
                display: grid;
                grid-template-columns: 1fr;
                gap: 0;
            }

            h1 {
                color: #FFF;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                max-width: 434px;
                line-height: 120%;
                margin: 0 0 16px 0;
                @include font-medium;

                @include respond-to("sm") {
                    @include heading24;
                    margin: 0 0 8px 0;
                    max-width: 313px;
                }
            }

            p {
                margin: 0 0 40px 0;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                max-width: 508px;
                @include font-normal;

                @include respond-to("sm") {
                    max-width: 328px;
                    margin: 0 0 50px 0;
                }
            }

            .outlineButton {
                padding: 0 0 16px 0;

                .btnborder {
                    position: relative;
                    display: inline-block;
                    border: none;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    @include font-normal;
                    text-transform: uppercase;
                    padding: 7px 10px;
                    color: #fff;
                    background: transparent;
                    border-radius: 6px;
                    z-index: 1;
                    overflow: hidden;
                }

                .btnborder::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 1px;
                    border-radius: 6px;
                    background: linear-gradient(90deg, rgba(249, 92, 47, 0.6), rgba(147, 54, 28, 0.06));
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    z-index: -1;
                }


            }
        }
    }

    .mobileHide {
        background: rgba(255, 255, 255, 0.06);

        @include respond-to("sm") {
            display: none;
        }
    }

    .mobileShow {
        display: none;
        background: rgba(255, 255, 255, 0.06);

        @include respond-to("sm") {
            display: flex;
            width: 100%;
            justify-content: center;
            background: rgba(255, 255, 255, 0.06);
        }
    }
}