@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.newsLatter {
    margin-top: -90px;
    position: relative;

    @include respond-to("sm") {
        margin-top: 0;
        background: #131315;
        padding: 24px 16px 36px 16px;
    }

    :global(.container-md) {
        @include respond-to("sm") {
            padding: 0;
        }
    }

    h2 {
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @include font-medium;
        margin: 0 0 23px 0;
        text-align: center;

        @include respond-to("sm") {
            @include heading32;
            margin: 0 0 12px 0;
            text-align: left;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 130px;
        gap: 16px;

        @include respond-to("sm") {
            grid-template-columns: 1fr;
            gap: 28px;
        }

        .buttonUi {
            position: relative;
            padding: 6px 6px 6px 16px;
            display: flex;
            cursor: pointer;
            align-items: center;
            backdrop-filter: blur(100px);
            height: 48px;
            justify-content: center;
            border-radius: 99px;
            gap: 10px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include font-medium;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.06);
            backdrop-filter: blur(100px);
            transition: 0.3s ease-in-out;

            @include respond-to("sm") {
                padding: 13px;
            }

            .layer,
            .layer2 {
                position: absolute;
                top: 0;
                width: 47px;
                height: 100%;
                filter: blur(40px);
                opacity: 0;
                transition: 0.4s ease;
            }

            .layer {
                left: -20px;
                background-color: #F95C2F;
            }

            .layer2 {
                right: -20px;
                background-color: #0084FF;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                border-radius: 99px;
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                z-index: 1;
                transition: 0.4s ease-in-out;
            }

            &::after {
                background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
            }

            &::before {
                background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
            }

            &:hover {
                .layer {
                    left: 0;
                    opacity: 1;

                }

                .layer2 {
                    right: 0;
                    opacity: 1;
                }

                &::after {
                    background-position: 200% 0;
                }

                &::before {
                    background-position: -200% 0;
                }
            }
        }

        input {
            width: 100%;
            padding: 0 16px;
            height: 48px;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.12);
            background: rgba(0, 0, 0, 0.10);
            backdrop-filter: blur(17px);
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            @include font-normal;
            outline: none;
        }

        ::placeholder {
            color: #9B9B9B;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            @include font-normal;
        }
    }

    .loader {
        width: 16px;
        height: 16px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}