@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.pricingModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);

    .modal {
        border-radius: 16px;
        border: 1px solid hsla(0, 0%, 100%, .1);
        background: hsla(0, 0%, 100%, .06);
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        max-width: 1260px;
        width: 100%;
        padding: 16px 16px 60px 16px;
        position: relative;
        max-height: calc(100dvh - 50px);
        overflow: auto;

        .closeIcon {
            color: #fff;
            position: absolute;
            right: 40px;
            cursor: pointer;
            top: 35px;
            transition: .3s ease-in-out;

            &:hover {
                transform: rotate(180deg);
            }
        }


    }
}