@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.expectedMonthlyDeposits {
    padding: 0 0 120px 0;

    @include respond-to("sm") {
        padding: 0 0 80px 0;
    }

    .title {
        padding: 0 0 35px 0;

        @include respond-to("sm") {
            padding: 0 0 80px 0;
        }

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            @include font-medium;

            @include respond-to("sm") {
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }
    }

    .buttonCenter {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0 0 50px 0;
        justify-content: center;

        .buttonUi {
            position: relative;
            padding: 13px 24px;
            display: flex;
            cursor: pointer;
            align-items: center;
            backdrop-filter: blur(100px);
            border-radius: 99px;
            gap: 10px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include font-medium;
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.10);
            background: rgba(255, 255, 255, 0.06);
            transition: 0.3s ease-in-out;

            @include respond-to("sm") {
                padding: 13px 18px;
            }



            &::after,
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;
                border-radius: 99px;
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                z-index: 1;
                opacity: 0;
                transition: 0.4s ease-in-out;
            }

            &::after {
                background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
            }

            &::before {
                background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
            }

            &:hover {

                &::after {
                    background-position: 200% 0;
                    opacity: 1;
                }

                &::before {
                    background-position: -200% 0;
                    opacity: 1;
                }
            }
        }
    }

    .boxCenter {
        max-width: 776px;
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 194px 1fr;
        align-items: center;
        gap: 100px;

        @include respond-to("sm") {
            grid-template-columns: 1fr 100px 1fr;
            gap: 20px;
            align-items: flex-start;
        }

        .bottomAlignment {
            @include respond-to("sm") {
                height: 100%;
                display: flex;
                align-items: flex-end;
            }
        }

        div:first-child {
            h4 {
                text-align: right;
            }

            p {
                text-align: right;
            }
        }

        p {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @include font-normal;

            @include respond-to("sm") {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }

        h4 {
            color: #FFF;
            font-size: 48px;
            margin: 0 0 12px 0;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            @include font-medium;

            @include respond-to("sm") {
                color: #FFF;
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
            }
        }

        img {
            display: block;
            width: 100%;
        }

        img[alt="LineChartImage"] {
            @include respond-to("sm") {
                display: none;
            }
        }

        img[alt="MobileLineChartImage"] {
            display: none;

            @include respond-to("sm") {
                display: block;
            }
        }
    }

}