@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.blogBannerContentAlignment {
    padding: 100px 0 58px 0;

    @include respond-to('sm') {
        padding: 60px 0 40px 0;
    }

    h2 {
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @include font-medium;
        margin: 0 0 22px 0;
        text-align: center;

        @include respond-to('tab') {
            font-size: 28px;
        }

        @include respond-to('sm') {
            font-size: 24px;
            margin: 0 0 16px 0;
        }
    }

    .contentAlignment {
        display: flex;
        align-items: center;
        padding: 0 0 45px 0;
        gap: 19px;
        justify-content: center;

        @include respond-to('sm') {
            padding: 0 0 30px 0;
            gap: 12px;
            flex-wrap: wrap;
        }

        .line {
            width: 1px;
            height: 22px;
            background-color: #fff;
            opacity: 0.2;
        }

        .iconText {
            display: flex;
            align-items: center;
            gap: 4px;

            span {
                display: block;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                @include font-normal;

                @include respond-to('sm') {
                    font-size: 14px;
                }
            }

            img {
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 50%;
            }
        }
    }

    .image {
        padding: 0 0 60px 0;

        @include respond-to('sm') {
            padding: 0 0 40px 0;
        }

        img {
            display: block;
            width: 100%;
            border-radius: 8px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 40px;

        @include respond-to('tab') {
            grid-template-columns: 1fr;
            gap: 0;
        }

        .sidebar {
            position: sticky;
            top: 100px;

            @include respond-to('tab') {
                display: none;
            }

            h3 {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                margin: 0 0 12px 0;
                @include font-medium;
            }

            ul {
                margin: 0;
                padding: 0 0 0 15px;

                li {
                    padding: 0 0 8px 0;
                    color: #FFF;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130%;
                    @include font-normal;
                    opacity: .4;
                    cursor: pointer;
                    transition: .3s ease-in-out;

                    &:hover {
                        opacity: 1;
                    }

                    &::marker {
                        color: #F95C2F;
                        font-size: 16px;
                    }

                    a {
                        color: #FFF;
                        text-decoration: none;
                    }
                }
            }
        }

        .blogDetails {
            color: #FFF;

            h2 {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                text-align: left;
                margin: 0 0 16px 0;
                line-height: 130%;
                @include font-medium;

                @include respond-to('sm') {
                    font-size: 18px;
                }
            }

            h3 {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                margin: 0 0 16px 0;
                font-weight: 500;
                line-height: 130%;
                @include font-medium;

                @include respond-to('sm') {
                    font-size: 15px;
                }
            }

            p {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                margin: 0 0 16px 0;
                line-height: 24px;
                @include font-normal;

                @include respond-to('sm') {
                    font-size: 13px;
                    line-height: 22px;
                }
            }

            * {
                color: #FFF;
            }
        }
    }
}