@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.regulationsCountry {
    padding: 120px 0;

    @include respond-to("sm") {
        padding: 80px 0;
    }

    .allGridAlignment {
        .grid:last-child {
            padding: 0;
        }

        .grid {
            display: grid;
            grid-template-columns: 386px 1fr;
            gap: 120px;
            align-items: center;
            padding: 0 0 100px 0;

            @include respond-to("sm") {
                grid-template-columns: 1fr;
                gap: 28px;
                padding: 0 0 40px 0;
            }

            h3 {
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                margin: 0 0 18px 0;
                line-height: 120%;
                @include font-medium;

                @include respond-to("sm") {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }

            p {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                @include font-normal;

                @include respond-to("sm") {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }

            .box {
                position: relative;
                height: 200px;
                border-radius: 12px;
                background: rgba(255, 255, 255, 0.06);
                display: flex;
                align-items: center;
                justify-content: center;

                @include respond-to("sm") {
                    max-width: 70px;
                    max-height: 70px;
                }

                img {
                    display: block;

                    @include respond-to("sm") {
                        max-width: 40px;
                    }
                }



                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 1px;
                    border-radius: 13px;
                    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    pointer-events: none;
                    z-index: 1;
                    transition: 0.4s ease-in-out;
                }

                &::after {
                    background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
                }

                &::before {
                    background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
                }
            }
        }
    }
}