@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.skeletonButton {
  background-color: var(--accent-color);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  span {
    background-color: #d1d5db;
    height: 1rem;
    width: 4rem;
    border-radius: 0.375rem;
    display: block;
  }
}