@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/font/font.scss" as *;

.mobileViewForm {
    padding: 80px 0;
    display: none;

    @include respond-to("sm") {
        display: block;
    }

    .sliderContainer {
        overflow: hidden;
        padding: 0 16px;
    }

    .formContainer {
        padding: 40px 16px 0;
        
        > * {
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(25px);
            padding: 16px;
            position: relative;

            &::after,
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 1px;
                border-radius: 12px;
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                z-index: 1;
                transition: 0.4s ease-in-out;
            }

            &::after {
                background: linear-gradient(117.5deg, #0084ff -35%, #0084ff00 37%);
            }

            &::before {
                background: linear-gradient(124.5deg, #f7541c00 68.57%, #f7541c 102.63%);
            }
        }
    }

    .contentAlignment {
        display: flex;
        gap: 20px;
        transition: transform 0.5s ease-in-out;
        width: fit-content;
        cursor: grab;
        
        &:active {
            cursor: grabbing;
        }

        .items {
            max-width: 275px;
            width: 275px;
            min-width: 275px;

            h2 {
                color: #FFF;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                margin: 0 0 16px 0;
                line-height: 120%;
                @include font-medium;
            }

            p {
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                @include font-normal;
                padding: 16px 0 0 0;
            }

            img {
                display: block;
            }
        }
    }
}