@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.rawAccountBanner {
    :global(.container-lg) {
        padding: 0;
    }

    .box {
        padding: 80px 70px 62px 70px;
        position: relative;

        @include respond-to("md") {
            padding: 120px 40px 60px 40px;
        }

        @include respond-to("sm") {
            padding: 80px 16px 60px 16px;
        }

        .mobileHide {
            @include respond-to("sm") {
                display: none;
            }
        }

        .mobileShow {
            display: none;
            margin: 40px 0 0 0;

            @include respond-to("sm") {
                display: flex;
                width: 100%;
                justify-content: center;
                background: rgba(255, 255, 255, 0.06);
            }
        }

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            height: 124px;
            border-radius: 0 0 40px 40px;
            content: '';
            background: linear-gradient(0deg, #F9D72F 0%, rgba(152, 82, 36, 0.00) 100%);
            opacity: 0.1;
        }

        h2 {
            color: #FFF;
            font-size: 36px;
            text-align: center;
            font-style: normal;
            font-weight: 500;
            margin: 0 0 84px 0;
            line-height: 120%;
            @include font-medium;

            @include respond-to("sm") {
                display: none;
            }
        }

        .image {
            @include respond-to("sm") {
                display: flex;
                padding: 0 0 16px 0;
                justify-content: center;
            }

            img {
                max-width: 280px;
                display: block;

                @include respond-to("sm") {
                    max-width: 260px;
                }
            }
        }

        .contentAlignment {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include respond-to("sm") {
                display: grid;
                grid-template-columns: 1fr;
                gap: 0;
            }

            h1 {
                color: #FFF;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                max-width: 521px;
                margin: 0 0 52px 0;
                @include font-medium;

                @include respond-to("sm") {
                    @include heading24;
                    max-width: 250px;
                }
            }



            .outlineButton {
                padding: 0 0 16px 0;

                .btnborder {
                    position: relative;
                    display: inline-block;
                    border: none;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    @include font-normal;
                    text-transform: uppercase;
                    padding: 7px 10px;
                    color: #fff;
                    background: transparent;
                    border-radius: 6px;
                    z-index: 1;
                    overflow: hidden;
                }

                .btnborder::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 1px;
                    border-radius: 6px;
                    background: linear-gradient(90deg, rgba(249, 92, 47, 0.6), rgba(147, 54, 28, 0.06));
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    z-index: -1;
                }


            }
        }
    }
}