@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.yearDetailsAlignment {
    padding: 0 0 50px 0;

    @include respond-to("sm") {
        padding: 100px 0 0 0;
    }

    .contentAlignment {
        max-width: 627px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 0 120px 0;

        @include respond-to("sm") {
            padding: 0 0 80px 0;
        }

        .right {
            max-width: 299px;

            @include respond-to("sm") {
                max-width: 151px;
            }

            p {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                margin: 0 0 16px 0;
                @include font-medium;

                @include respond-to("sm") {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }

            span {
                display: block;
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                @include font-normal;

                @include respond-to("sm") {
                    font-size: 16px;
                    font-style: normal;
                    line-height: 120%;
                }
            }
        }

        .left {
            span {
                display: block;
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                @include font-medium;
                line-height: 120%;
            }

            h4 {
                color: #FFF;
                @include font-medium;
                font-size: 80px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;

                @include respond-to("sm") {
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
        }
    }

    .borderBox {
        border: 1px solid rgb(255, 255, 255, .1);
        border-radius: 999px;
        padding: 16px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 27px;

        .lineAlignment {
            display: flex;
            align-items: center;
            gap: 14px;

            @include respond-to("sm") {
                gap: 6px;
            }

            .line {
                border-radius: 1px;
                width: 3px;
                min-width: 3px;
                height: 32px;
                transition: .3s ease-in-out;
                cursor: pointer;

                @include respond-to("sm") {
                    height: 12px !important;
                    min-width: 2px;
                    width: 2px;
                }

                &:hover {
                    height: 46px;
                    background: #F35A2E;

                    @include respond-to("sm") {
                        height: 18px !important;
                    }
                }
            }
        }

        .rightArrow {
            img {
                display: block;
                transform: rotate(180deg);
                cursor: pointer;

                @include respond-to("sm") {
                    max-width: 18px;
                }
            }
        }

        .leftArrow {
            img {
                display: block;
                cursor: pointer;

                @include respond-to("sm") {
                    max-width: 18px;
                }
            }
        }
    }

    .lineWrapper {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .tooltip {
        position: absolute;
        top: -60px;
        padding: 10px 18px;
        border-radius: 14px;
        font-weight: 600;
        font-size: 16px;
        background: linear-gradient(135deg, #6fb1fc, #e17d63);
        color: #000;
        z-index: 10;
        white-space: nowrap;
    }

    .tooltipArrow {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 12px solid #e17d63;
    }

}