.container {
  width: 100%;
  min-height: 600px;
  background-color: transparent;
}



.mapWrapper {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.worldMap {
  width: 100%;
  height: 100%;
  display: block;
}