@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.container {
  width: 100%;
  min-height: 600px;
  background-color: transparent;

  @include respond-to("sm") {
    min-height: auto;
  }
}



.mapWrapper {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;

  @include respond-to("sm") {
    height: 260px;
  }
}

.worldMap {
  width: 100%;
  height: 100%;
  display: block;
}