@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.missionVissonSection {
    padding-left: max(40px, (100vw - 900px) / 2);
    padding-bottom: 0;
    scroll-margin-top: 120px;

    @include respond-to("sm") {
        padding: 0 20px;
    }

    .mobilehide {
        @include respond-to("sm") {
            display: none;
        }
    }

    .mobileShow {
        display: none;

        @include respond-to("sm") {
            display: grid;
            grid-template-columns: 1fr;
            gap: 60px;
            padding: 0 0 60px 0;
        }
    }

    .iconCenter {
        display: flex;
        justify-content: center;
        padding: 0 0 24px 0;

        img {
            display: block;

            @include respond-to("sm") {
                max-width: 140px;
            }
        }
    }

    h2 {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin: 0 0 20px 0;
        @include font-medium;

        @include respond-to("sm") {
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            margin: 0 0 12px 0;
        }
    }

    p {
        max-width: 625px;
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 34px;
        min-height: 68px;
        @include font-normal;
        margin: 0 auto;

        @include respond-to("sm") {
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
        }
    }

}