@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.fibonaccicalculator {
    width: 100%;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(25px);
    padding: 24px 20px;

    @include respond-to("sm") {
        padding: 24px 12px;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: 15px;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: 1;
        transition: 0.4s ease-in-out;
    }

    &::after {
        background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
    }

    &::before {
        background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
    }


    .title {
        padding: 0 0 55px 0;

        @include respond-to("sm") {
            padding: 0 0 32px 0;
        }

        h2 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            @include font-medium;
        }
    }

    .allRadioAlignment {
        .radiText:last-child {
            padding: 0;
        }

        .radiText {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 0 0 12px 0;

            input[type="radio"] {
                appearance: none;
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                border: 1px solid #fff;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                transition: 0.3s ease;

                &:checked {
                    border-color: #fff;
                }

                &:checked::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 9px;
                    height: 9px;
                    background: #fff;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    transition: 0.3s ease;
                }
            }

            label {
                color: #fff;
                display: block;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                @include font-normal;
            }
        }
    }

    .twoCol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px 20px;
        padding: 0 0 54px 0;
        align-items: flex-start;

        @include respond-to("sm") {
            gap: 12px;
            padding: 0 0 32px 0;
        }

        .itemsCenter {
            display: flex;
            align-items: flex-end;
        }
    }

    .buttonAlignment {
        width: 100%;
        padding: 0 0 24px 0;

        @include respond-to("sm") {
            padding: 0 0 32px 0;
        }
    }

    .tableData {
        max-width: 239px;
        width: 100%;
        margin: 0 auto;

        table {
            width: 100%;
            border: none;
            border-collapse: collapse;

            tbody {
                tr {
                    td {
                        padding: 4px;
                        @include font-normal;
                        color: #FFF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px;
                        text-align: left;
                    }

                    td:last-child {
                        text-align: right;
                    }
                }
            }

            thead {
                tr {
                    th:last-child {
                        text-align: right;
                    }

                    th {
                        padding: 4px;
                        color: #FFF;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px;
                        @include font-semibold;
                        text-align: left;
                    }
                }
            }
        }
    }
}