@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.experienceSecureFx {
    margin: 0 0 50px 0;
    padding: 40px 0;
    position: relative;

    @include respond-to("sm") {
        padding: 40px 0 0 0;
    }

    &::before {
        position: absolute;
        width: 200px;
        height: 81px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: '';
        background: #EFBA4E;
        filter: blur(127px);

        @include respond-to("sm") {
            top: 0;
            transform: none;
            width: 100px;
            height: 100px;
        }
    }

    &::after {
        position: absolute;
        width: 200px;
        height: 81px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        content: '';
        background: #3C75FE;
        filter: blur(127px);

        @include respond-to("sm") {
            top: inherit;
            bottom: 0;
            right: 0;
            transform: none;
            width: 100px;
            height: 100px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 306px;
        gap: 40px;

        @include respond-to("sm") {
            grid-template-columns: 1fr;
            gap: 80px;
        }

        h2 {
            max-width: 630px;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            margin: 0 0 16px 0;
            @include font-medium;
            @include text-gradient-white;

            @include respond-to("sm") {
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
            }
        }

        .mobileShow {
            display: none;

            @include respond-to("sm") {
                display: block;
            }

            .buttonwidth {
                width: 100%;
                justify-content: center;
            }
        }

        .buttonAlignment {
            max-width: 183px;

            @include respond-to("sm") {
                width: 100%;
                display: none;
                max-width: 100%;
            }

            a {
                @include respond-to("sm") {
                    display: block;
                }
            }

        }

        p {
            margin: 0 0 80px 0;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            @include text-gradient-white;
            max-width: 700px;
            line-height: 120%;
            @include font-normal;
        }

        .image {
            img {
                display: block;
                width: 100%;
            }
        }
    }
}