@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.mobileHeader {
    display: none;
    padding: 10px 16px 0 16px;
    position: sticky;
    top: 0;
    z-index: 999;

    @include respond-to("md") {
        display: block;
    }

    .headerStyling {
        border-radius: 70px;
        background: #171719;
        padding: 14px 16px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menuIcon {
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg {
                cursor: pointer;
            }
        }

        .logo {
            img {
                max-width: 180px;
                display: block;

                @include respond-to("sm") {
                    max-width: 150px;
                }
            }

        }


        &::after,
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2px;
            border-radius: 99px;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            z-index: 1;
            transition: 0.4s ease-in-out;
        }

        &::after {
            background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
        }

        &::before {
            background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
        }
    }
}