@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;
@use '../../scss/font/font.scss' as *;

.mobileHeader {
    display: none;
    padding: 10px 16px 0 16px;
    position: sticky;
    top: 0;
    z-index: 999;

    @include respond-to("md") {
        display: block;
    }

    .headerStyling {
        border-radius: 70px;
        background: #171719;
        padding: 14px 16px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menuIcon {
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg {
                cursor: pointer;
            }
        }

        .logo {
            img {
                max-width: 180px;
                display: block;

                @include respond-to("sm") {
                    max-width: 150px;
                }
            }

        }


        &::after,
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2px;
            border-radius: 99px;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            z-index: 1;
            transition: 0.4s ease-in-out;
        }

        &::after {
            background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
        }

        &::before {
            background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
        }
    }
}

.mobileSidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: #171719;
    width: 100%;
    height: 100%;

    &.hide {
        transform: translateX(100%);
        transition: .3s ease-in-out;
    }

    &.show {
        transform: translateX(0%);
        transition: .3s ease-in-out;
    }

    .mobileSidebarBody {
        padding: 30px 20px;
        height: calc(100dvh - 163px);
        overflow: auto;

        .listMenu {
            padding-left: 20px;

            &.hide {
                max-height: 0px;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            &.show {
                max-height: 100vh;
                overflow: hidden;
                transition: .3s ease-in-out;
            }

            .spacing {
                padding: 10px 0 0 0;
            }

            a {
                display: block;
                font-size: 18px;
                @include font-normal;
                color: #fff;
                padding: 0 0 24px 0;
                opacity: .9;

                &:last-child {
                    padding: 0;
                }
            }
        }

        .textIconAlignment {
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .icon {
                display: flex;
                align-items: center;

                &.rotate {
                    svg {
                        transform: rotate(180deg);
                    }
                }

                svg {
                    width: 26px;
                    height: 26px;
                    transition: .3s ease-in-out;

                    path {
                        fill: #fff;
                    }
                }
            }

            .lgText {
                font-size: 26px;
                @include font-semibold;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }

    .mobileSidebarFooter {
        padding: 20px;
        border-top: 1px solid rgb(255, 255, 255, .1);

        .widthfull {
            width: 100%;
            justify-content: center;
        }
    }

    .logoCloseIconAlignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid rgb(255, 255, 255, .1);

        .close {
            display: flex;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;

                path {
                    fill: #fff;
                }
            }
        }

        .logo {
            img {
                max-width: 180px;
                display: block;

                @include respond-to("sm") {
                    max-width: 150px;
                }
            }

        }
    }
}