@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/font/font.scss" as *;

.mainWrapper {
  color: #fff;

  .heroInner {
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .textBlockmain {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100px;

      .textBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        @include respond-to("tab") {
          gap: 20px;
        }

        @include respond-to("sm") {
          gap: 0;
        }

        .line {
          font-size: 40px;
          line-height: 53px;
          font-weight: 600;
          color: #fff;
          transition: 0.4s ease;

          @include respond-to("sm") {
            font-size: 32px;
            line-height: 38px;
            font-weight: 500;
          }
        }
      }
    }

    .imageWrapper {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;

      img {
        max-width: 326px;
        width: 100%;

        @include respond-to("sm") {
          max-width: 271px;
        }
      }
    }
  }
}