@use "../../../scss/main.scss" as *;
@use "../../../scss/breakpoints/breakpoints.scss" as *;
@use "../../../scss/font/font.scss" as *;

.introducingBrokers {
  padding: 40px 0;
  position: relative;
  scroll-margin-top: 120px;

  @include respond-to("sm") {
    overflow: clip;
  }

  &::before {
    background: #efba4e;
    filter: blur(127px);
    width: 335px;
    height: 81px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    left: 0;
    z-index: -1;
  }

  &::after {
    background: #3c75fe;
    filter: blur(127px);
    width: 335px;
    height: 81px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    right: 0;
    z-index: -1;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 431px;
    gap: 46px;

    .image {
      img {
        display: block;
        width: 100%;
      }
    }

    .buttonUi {
      position: relative;
      padding: 14px 41px;
      width: fit-content;
      display: flex;
      cursor: pointer;
      align-items: center;
      backdrop-filter: blur(100px);
      border-radius: 99px;
      gap: 10px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      @include font-medium;
      overflow: hidden;
      background: #171719;
      transition: 0.3s ease-in-out;

      .layer,
      .layer2 {
        position: absolute;
        top: 0;
        width: 47px;
        height: 100%;
        filter: blur(40px);
        transition: 0.4s ease;
        opacity: 0;
      }

      .layer {
        left: -20px;
        background-color: #f95c2f;
      }

      .layer2 {
        right: -20px;
        background-color: #0084ff;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 2px;
        border-radius: 99px;
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask: linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: 1;
        transition: 0.4s ease-in-out;
      }

      &::after {
        background: linear-gradient(271.5deg, #0084ff -35%, #0084ff00 37%);
      }

      &::before {
        background: linear-gradient(
          267.5deg,
          #f7541c00 68.57%,
          #f7541c 102.63%
        );
      }

      &:hover {
        .layer {
          left: 0;
          opacity: 1;
        }

        .layer2 {
          right: 0;
          opacity: 1;
        }

        &::after {
          background-position: 200% 0;
        }

        &::before {
          background-position: -200% 0;
        }
      }
    }

    .text {
      h2 {
        max-width: 637px;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @include font-medium;
        @include text-gradient-white;
        margin: 0 0 16px 0;
      }

      p {
        font-size: 20px;
        margin: 0 0 32px 0;
        font-style: normal;
        @include text-gradient-white;
        font-weight: 400;
        line-height: 120%;
        max-width: 700px;
        @include font-normal;
      }
    }
  }
}
