@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.whyMt5 {
    padding: 0 0 120px 0;

    @include respond-to("sm") {
        padding: 0 0 20px 0;
    }

    .sectionTitle {
        padding: 0 0 140px 0;

        @include respond-to("sm") {
            padding: 0 0 30px 0;
        }

        h2 {
            @include font-medium;
            color: #FFF;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            margin: 0 0 20px 0;
            text-align: center;

            @include respond-to("sm") {
                @include heading24;
                max-width: 242px;
                margin: 0 auto 8px auto;
            }
        }

        p {
            @include font-normal;
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            max-width: 829px;
            margin: 0 auto;

            @include respond-to("sm") {
                max-width: 340px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }

    .mainRelative {
        position: relative;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        height: 500px;

        @include respond-to("sm") {
            max-width: 300px;
            height: 300px;
        }
    }

    .Round1 {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        margin: auto;
        left: 0;

        border: 2px solid transparent;
        background:
            linear-gradient(#09090b, #09090b) padding-box,
            conic-gradient(#3C75FE, transparent 60%) border-box;

        animation: rotateBorder 5s linear infinite;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to("sm") {
            width: 300px;
            height: 300px;
        }


    }

    @keyframes rotateBorder {
        100% {
            transform: rotate(360deg);
        }
    }

    .roundCenter {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .secRound {
        width: 386px;
        color: #fff;
        height: 386px;
        border-radius: 1000px;
        border: 1px solid rgba(255, 255, 255, 0.10);
        background: rgba(255, 255, 255, 0.04);
        position: relative;
        z-index: 99;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include respond-to("sm") {
            width: 250px;
            height: 250px;
        }

        .iconCenter {
            display: flex;
            padding: 0 0 20px 0;
            justify-content: center;

            @include respond-to("sm") {
                padding: 0 0 8px 0;
            }

            img {
                @include respond-to("sm") {
                    max-width: 40px;
                }
            }
        }

        h3 {
            color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            margin: 0 0 13px 0;
            line-height: 120%;
            @include font-normal;

            @include respond-to("sm") {
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                margin: 0 0 8px 0;
            }
        }

        p {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            max-width: 263px;
            margin: 0 auto;
            @include font-normal;

            @include respond-to("sm") {
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }


        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            padding: 2px;
            border-radius: 50%;
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
            z-index: 1;
            transition: 0.4s ease-in-out;
        }

        &::after {
            background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
        }

        &::before {
            background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
        }

    }

    .one {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -11%;

        @include respond-to("md") {
            top: -6%;
        }

        @include respond-to("sm") {
            top: -9%;
        }
    }

    .three {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -11%;

        @include respond-to("md") {
            bottom: -6%;
        }

        @include respond-to("sm") {
            bottom: -9%;
        }

        .step {
            .center {
                padding: 0 0 13px 0;
            }
        }
    }

    .two {
        position: absolute;
        right: 0;
        transform: translateY(-50%);
        top: 50%;

        @include respond-to("md") {
            right: 13%;
        }

        @include respond-to("sm") {
            right: 4%;
        }

        .step {
            display: flex;
            align-items: center;
            gap: 6px;
            flex-direction: row-reverse;

            .center {
                padding: 0;
            }
        }
    }

    .four {
        position: absolute;
        left: 0;
        transform: translateY(-50%);
        top: 50%;

        @include respond-to("md") {
            left: 13%;
        }

        @include respond-to("sm") {
            left: 4%;
        }

        .step {
            display: flex;
            align-items: center;
            gap: 6px;

            .center {
                padding: 0;
            }
        }
    }

    .sectionrelative {
        position: relative;
    }

    .step {
        p {
            color: #FFF;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @include font-normal;

            @include respond-to("md") {
                display: none;
            }
        }

        .center {
            display: flex;
            padding: 13px 0 0 0;
            justify-content: center;

            .counter {
                border-radius: 56px;
                border: 1px solid rgba(255, 255, 255, 0.40);
                background: rgba(255, 255, 255, 0.06);
                backdrop-filter: blur(24px);
                width: 40px;
                height: 40px;
                color: #fff;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
                @include font-medium;
                display: flex;
                align-items: center;
                justify-content: center;

                @include respond-to("sm") {
                    width: 28px;
                    height: 28px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                }
            }
        }
    }
}