@use "../../scss/main.scss" as *;
@use "../../scss/breakpoints/breakpoints.scss" as *;
@use "../../scss/font/font.scss" as *;

.footer {
  position: relative;
  overflow: clip;
  padding-bottom: 559px;
  perspective: 1000px;
  // padding: 260px 0 0;

  @include respond-to("sm") {
    padding-bottom: 1340px;
  }

  .maintitleabsolute {
    position: relative;
    z-index: 3;

    @include respond-to("sm") {
      top: -1;
    }

    .maintitle {
      background: #09090b;
      width: 100%;
      // height: 559px;
      height: 360px;
      display: flex;
      align-items: flex-end;
      transition: all 0.3s ease-in-out;
      transform-origin: left bottom;

      @include respond-to("sm") {
        height: 120px;
      }

      h2 {
        text-align: center;
        font-size: 12.4vw;
        font-weight: 600;
        background: linear-gradient(90deg, #f95c2f 0%, #3c75fe 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        line-height: 12vw;
        @include font-semibold;
      }
    }
  }

  .footerbottom {
    inset: -50vh 0 0;
    position: absolute;

    @include respond-to("sm") {
      inset: -32vh 0 0;
    }

    .footerbottomsc {
      display: flex;
      height: 100dvh;
      position: sticky;
      top: 0;
      z-index: 2;

      @include respond-to("sm") {
        height: 109dvh;
        top: 97vh;
        // top: 109vh;
      }

      .footerbottomthrd {
        align-items: flex-end;
        display: flex;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;

        .footerbg {
          width: 100%;
          background: linear-gradient(90deg, #3c75fe 0%, #7aa7f3 100%), #131315;
          padding-top: 100px;

          @include respond-to("sm") {
            padding-top: 0;
          }
        }
      }
    }
  }

  .footergrid {
    display: grid;
    grid-template-columns: 308px 1fr;
    gap: 90px;
    padding: 97px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    @include respond-to("sm") {
      grid-template-columns: 1fr;
      padding: 62px 0 36px;
      gap: 40px;
    }

    .rightMenu {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 34px;

      @include respond-to("sm") {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 16px;
      }

      h4 {
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 16px;
        @include font-semibold;
      }

      a {
        display: block;
        padding-bottom: 16px;
        color: white;
        font-size: 16px;
        font-weight: 400;
        @include font-normal;
      }
    }

    .leftcontent {
      .socialAlignment {
        padding-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        max-width: 192px;

        @include respond-to("sm") {
          max-width: 100%;
          gap: 26px;
          padding: 20px 0 0 0;
        }

        svg {
          cursor: pointer;
        }
      }

      .email {
        padding-bottom: 10px;

        @include respond-to("sm") {
          padding: 0;
        }

        a {
          color: white;
          font-size: 14px;
          font-weight: 400;
          @include font-normal;
        }
      }

      .footerlogo {
        padding-bottom: 38px;

        @include respond-to("sm") {
          padding: 0 0 28px 0;
        }

        img {
          max-width: 170px;
          cursor: pointer;
        }
      }
    }
  }

  .copyRightAlignment {
    padding: 20px 0 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond-to("sm") {
      padding: 17px 0 60px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    p {
      color: white;
      font-size: 14px;
      @include font-normal;
    }

    .menuAlignment {
      display: flex;
      align-items: center;
      gap: 4px;


      a {
        color: white;
        font-size: 14px;
        @include font-normal;
      }

      span {
        color: white;
      }
    }
  }
}