@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.blogBanner {
    padding: 60px 0 40px 0;

    @include respond-to('sm') {
        padding: 40px 0 30px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 598px;
        gap: 40px;
        align-items: center;

        @include respond-to('tab') {
            grid-template-columns: 1fr;
            gap: 30px;
            text-align: center;
        }

        .griditems {
            h2 {
                color: #FFF;
                font-size: 48px;
                font-style: normal;
                margin: 0 0 30px 0;
                font-weight: 500;
                line-height: 120%;
                @include font-medium;

                @include respond-to('tab') {
                    font-size: 36px;
                    margin: 0 0 20px 0;
                }

                @include respond-to('sm') {
                    font-size: 28px;
                    margin: 0 0 16px 0;
                }

                span {
                    color: #EFBA4E;
                }
            }

            p {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                @include font-normal;

                @include respond-to('sm') {
                    font-size: 14px;
                }
            }

            .image {
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}