@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.chooseWhere {
    background: #131315;
    position: relative;
    padding: 32px 0 140px 0;
    margin: 72px 0 0 0;
    overflow: hidden;

    @include respond-to("sm") {
        padding: 36px 0 0 0;
    }

    &::before {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        border-radius: 1387.926px;
        opacity: 0.6;
        background: linear-gradient(180deg, #010117 0%, #EFBA4E 48.08%, #FFDBAC 100%);
        filter: blur(102px);
        left: 0;
        transform: rotate(10.833deg);
        content: '';

        @include respond-to("sm") {
            top: 0;
            transform: rotate(0deg);
            height: 600px;
            left: 50%;
            transform: translateX(-50%);
            width: 135px;
            border-radius: 599.958px;
            background: linear-gradient(180deg, #010117 0%, #EFBA4E 48.08%, #FFDBAC 100%);
        }

    }

    .title {
        position: relative;
        padding: 0 0 32px 0;

        @include respond-to("sm") {
            padding: 0 0 20px 0;
        }

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            @include font-medium;

            @include respond-to("sm") {
                @include heading32;
                max-width: 246px;
                margin: 0 auto;
            }
        }
    }

    .grid {
        border-top: 1px solid rgba(255, 255, 255, 0.20);
        border-bottom: 1px solid rgba(255, 255, 255, 0.20);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        position: relative;
        overflow: hidden;

        @include respond-to("sm") {
            grid-template-columns: 1fr;
            padding: 0 16px;
        }

        .griditems:first-child {
            padding-left: 60px;

            @include respond-to("sm") {
                padding-left: 24px;
            }
        }

        .griditems:last-child {
            border: none;

            @include respond-to("sm") {
                border-left: 1px solid rgba(255, 255, 255, 0.20);
                border-right: 1px solid rgba(255, 255, 255, 0.20);
            }
        }

        .griditems {
            padding: 32px;
            border-right: 1px solid rgba(255, 255, 255, 0.20);
            display: flex;
            flex-direction: column;
            gap: 80px;
            overflow: hidden;

            @include respond-to("sm") {
                border-left: 1px solid rgba(255, 255, 255, 0.20);
                border-bottom: 1px solid rgba(255, 255, 255, 0.20);
                padding: 24px;
            }

            h3 {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                @include font-medium;
                margin: 0 0 12px 0;
            }

            p {
                color: #C3C3C3;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                max-width: 265px;
                line-height: 24px;
                @include font-normal;

                @include respond-to("sm") {
                    max-width: 262px;
                }
            }

            a {
                display: block;
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                cursor: pointer;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                @include font-normal;
            }

            .icon {
                padding: 0 0 24px 0;

                @include respond-to("sm") {
                    padding: 0 0 16px 0;
                }

                img {
                    display: block;
                }
            }

        }
    }
}