@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.secureFxIntegrity {
    position: relative;
    padding: 0 0 50px 0;

    &::before {
        position: absolute;
        width: 40%;
        left: 0;
        height: 291px;
        top: 50%;
        transform: translateY(-50%);
        background: #F95C2F;
        opacity: 0.12;
        filter: blur(101px);
        content: '';
        z-index: -1;

    }

    &::after {
        position: absolute;
        width: 40%;
        right: 0;
        height: 291px;
        top: 50%;
        transform: translateY(-50%);
        background: #3C75FE;
        opacity: 0.12;
        filter: blur(101px);
        z-index: -1;
        content: '';

    }

    .iconCenter {
        display: flex;
        justify-content: center;
        padding: 0 0 32px 0;

        img {
            display: block;
        }
    }

    h2 {
        max-width: 521px;
        margin: 0 auto;
        color: #FFF;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        @include font-medium;
    }

    .buttonCenter {
        padding: 32px 0 0 0;
        display: flex;
        justify-content: center;
    }
}