@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.scrollContainer {
    position: relative;
}

.stickyContainer {
    position: sticky;
    top: 60px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.contentWrapper {
    width: 100%;
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: 467px 1fr;
    gap: 80px;
    align-items: center;
    max-width: 1018px;
    margin: 0 auto;
}

.imageSection {
    position: relative;
    width: 100%;
    height: 310px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.imageCard {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #131315;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100px;
        stroke-width: 74px;
        background: #F95C2F;
        filter: blur(92px);
        content: '';
        z-index: -1;
    }

    &.current {
        box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
    }

    &.adjacent {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    }
}

.imageContent {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.awardBadge {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ff6b35;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.trophyEmoji {
    position: absolute;
    top: -15px;
    font-size: 32px;
}

.awardLabel {
    font-size: 14px;
    color: #999;
    text-align: center;
    font-weight: 600;
}

.textSection {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.textCard {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.textContent {
    display: grid;
    grid-template-columns: 24px 1px 1fr;
    gap: 24px;
    align-items: flex-start;

    h5 {
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @include font-medium;
        margin: 0;
    }

    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }
}


.textDetails {
    flex: 1;
    position: relative;

    &::before {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50% -50%);
        z-index: -1;
        width: 100px;
        height: 50px;
        background: #F95C2F;
        filter: blur(52px);
        content: '';
        z-index: -1;
    }

    h4 {
        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        @include font-medium;
        margin: 0 0 20px 0;
    }

    p {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        @include font-normal;
    }
}

.awardsTitle {
    position: absolute;
    padding-left: 14%;
    font-size: 40px;
    color: white;
}