@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.tradeAnywhereSection {
    padding: 120px 0;
    scroll-margin-top: 120px;

    .leftAlignment {
        padding-left: max(40px, (100vw - 1200px) / 2);
    }

    .title {
        padding: 0 40px 38px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .arrowAlignment {
            display: flex;
            align-items: center;
            gap: 40px;

            button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            button:last-child {
                transform: rotate(180deg);
            }
        }

        h2 {
            color: #FFF;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            @include font-medium;
            margin: 0 0 12px 0;

            span {
                color: #EFBA4E;
            }
        }

        p {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            max-width: 793px;
            @include font-normal;
        }
    }

    .sliderBox {
        border-radius: 12px;
        border: 1px solid rgba(60, 117, 254, 0.30);
        background: #131315;
        padding: 36px 20px;
        overflow: hidden;
        position: relative;

        .image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                max-width: 360px;
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 289px;
            height: 289px;
            background: rgba(60, 186, 254, 0.50);
            filter: blur(105px);
            content: '';
        }

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 189px;
            height: 189px;
            background: rgba(60, 117, 254, 0.50);
            filter: blur(120px);
            content: '';
        }

        .buttonUi {
            position: relative;
            padding: 15px;
            display: flex;
            cursor: pointer;
            align-items: center;
            backdrop-filter: blur(100px);
            border-radius: 99px;
            gap: 10px;
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include font-medium;
            overflow: hidden;
            border-radius: 78px;
            border: 1px solid rgba(255, 255, 255, 0.08);
            background: rgba(255, 255, 255, 0.06);
            backdrop-filter: blur(50px);
            transition: 0.3s ease-in-out;
            justify-content: center;

            .layer,
            .layer2 {
                position: absolute;
                top: 0;
                width: 47px;
                height: 100%;
                filter: blur(40px);
                transition: 0.4s ease;
                opacity: 0;
            }

            .layer {
                left: -20px;
                background-color: #F95C2F;
            }

            .layer2 {
                right: -20px;
                background-color: #0084FF;
            }

            &::after,
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                border-radius: 99px;
                mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                pointer-events: none;
                z-index: 1;
                transition: 0.4s ease-in-out;
            }

            &::after {
                background: linear-gradient(271.5deg, #0084FF -35%, #0084FF00 37%);
            }

            &::before {
                background: linear-gradient(267.5deg, #f7541c00 68.57%, #f7541c 102.63%);
            }

            &:hover {
                .layer {
                    left: 0;
                    opacity: 1;
                }

                .layer2 {
                    opacity: 1;
                    right: 0;
                }

                &::after {
                    background-position: 200% 0;
                }

                &::before {
                    background-position: -200% 0;
                }
            }
        }

        .details {
            padding: 0 0 100px 0;

            h3 {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                @include font-medium;
                margin: 0 0 16px 0;
            }

            p {
                color: #FFF;
                font-size: 18px;
                max-width: 710px;
                font-style: normal;
                font-weight: 400;
                @include font-normal;
                line-height: 26px;
            }
        }

        .allDetails {
            position: relative;
            z-index: 99;
        }

        .iconAlignment {
            padding: 0 0 32px 0;

            img {
                display: block;
            }
        }
    }
}