@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.trustedBrokerAlignment {
    padding: 140px 0 0 0;


    @include respond-to("sm") {
        padding: 80px 0 0 0;
    }

    .title {
        padding: 0 0 60px 0;

        @include respond-to("sm") {
            padding: 0 0 40px 0;
        }

        h2 {
            color: #FFF;
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            @include font-medium;
            line-height: 110%;

            @include respond-to("sm") {
                color: #FFF;
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 500;
                line-height: 110%;
                max-width: 244px;
                margin: 0 auto;
            }

            span {
                color: #EFBA4E;
            }
        }
    }

    .contnetAlignment {
        display: flex;
        justify-content: space-between;

        @include respond-to("sm") {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px 16px;
        }

        h3 {
            text-align: center;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%;
            @include text-gradient-primary;
            margin: 0 0 10px 0;
            @include font-medium;

            @include respond-to("sm") {
                font-size: 28px;
                font-style: normal;
                font-weight: 500;
            }
        }

        p {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            @include font-normal;

            @include respond-to("sm") {
                max-width: 132px;
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }
}