@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.seamlessTradingStepsAlignment {
    .box {
        border-radius: 12px;
        background: #09090B;
        padding: 40px 0 0 40px;
        display: grid;
        grid-template-columns: 1fr 702px;
        gap: 40px;
        overflow: hidden;
        position: relative;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 80%;
            height: 160px;
            content: '';
            border-radius: 964px;
            background: linear-gradient(180deg, #010117 0%, #F95C2F 48.08%, #ACACFF 100%);
            filter: blur(102px);
        }

        &::after {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 60%;
            height: 160px;
            transform: rotate(10.833deg);
            content: '';
            border-radius: 964px;
            background: linear-gradient(180deg, #010117 0%, #3737CE 48.08%, #F95C2F 100%);
            filter: blur(102px);
        }

        .leftContentAlignment {
            position: relative;
        }

        .imageWrapper {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .imageAbsolute {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity 0.6s ease-in-out;
        }

        .imges {
            position: relative;
            width: 100%;
            height: 100%;

            .imagestyle {
                position: relative;
                width: 100%;
                height: 100%;

                img {
                    display: block;
                    width: 100%;
                }
            }

            &::before {
                border-radius: 1025.485px;
                background: linear-gradient(180deg, #010117 0%, #F95C2F 48.08%, #ACACFF 100%);
                filter: blur(102px);
                width: 70%;
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                height: 80%;
                transform: rotate(-23.269deg);
            }
        }

        .title {
            padding: 0 0 28px 0;

            h2 {
                color: #FFF;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                @include font-medium;
            }
        }

        .allstepAlignment {
            .grid:last-child {
                .griditems:first-child {
                    &::before {
                        display: none;
                    }
                }
            }

            .grid {
                display: grid;
                grid-template-columns: 20px 1fr;
                gap: 12px;

                .griditems:last-child {
                    padding: 0 0 40px 0;
                }

                .griditems:first-child {
                    padding: 30px 0 0 0;
                    position: relative;
                }

                .round {
                    width: 20px;
                    height: 20px;
                    border: 1px solid #3C75FE;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    background: #09090b;
                    position: relative;
                    z-index: 9;

                    .fill {
                        width: 10px;
                        position: relative;
                        height: 10px;
                        background-color: #3C75FE;
                        border-radius: 10px;
                    }
                }

                .detailsbox {
                    border-radius: 10px;
                    border: 1px solid rgba(255, 255, 255, 0.10);
                    opacity: 0.7;
                    background: rgba(255, 255, 255, 0.06);
                    padding: 16px;
                    color: #fff;
                    max-width: 408px;
                    display: grid;
                    grid-template-columns: 48px 1fr;
                    gap: 12px;
                    align-items: flex-start;

                    .round {
                        width: 48px;
                        height: 48px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        background-color: transparent;
                        @include font-medium;
                    }

                    p {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px;
                        @include font-normal;
                    }
                }
            }
        }
    }
}