@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.rawAccountBanner {

    .box {
        padding: 160px 70px 62px 70px;
        position: relative;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            height: 124px;
            border-radius: 0 0 40px 40px;
            content: '';
            background: linear-gradient(0deg, #F9D72F 0%, rgba(152, 82, 36, 0.00) 100%);
            opacity: 0.1;
        }

        .image {
            img {
                max-width: 296px;
                display: block;
            }
        }

        .contentAlignment {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                color: #FFF;
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                margin: 0 0 16px 0;
                @include font-medium;
            }

            p {
                margin: 0 0 85px 0;
                color: #FFF;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                max-width: 434px;
                @include font-normal;
            }

            .outlineButton {
                padding: 0 0 16px 0;

                .btnborder {
                    position: relative;
                    display: inline-block;
                    border: none;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    @include font-normal;
                    text-transform: uppercase;
                    padding: 7px 10px;
                    color: #fff;
                    background: transparent;
                    border-radius: 6px;
                    z-index: 1;
                    overflow: hidden;
                }

                .btnborder::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    padding: 1px;
                    border-radius: 6px;
                    background: linear-gradient(90deg, rgba(249, 92, 47, 0.6), rgba(147, 54, 28, 0.06));
                    -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    z-index: -1;
                }


            }
        }
    }
}