@use '../../../scss/main.scss' as *;
@use '../../../scss/breakpoints/breakpoints.scss' as *;
@use '../../../scss/font/font.scss' as *;

.depositInSecondAlignment {
    padding: 0 0 50px 0;

    .title {
        padding: 0 0 36px 0;

        @include respond-to("sm") {
            padding: 0 0 28px 0;
        }

        h2 {
            max-width: 472px;
            margin: 0 auto;
            color: #FFF;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            @include font-medium;

            @include respond-to("sm") {
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%;
            }
        }
    }

    .imageAlignment {
        display: flex;
        align-items: center;
        gap: 29px;
        justify-content: center;

        @include respond-to("sm") {
            justify-content: flex-start;
            overflow: auto;
            scrollbar-width: none;
        }

        img {
            display: block;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}